<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">
        <img src="../../../assets/images/icon/icons8-play-station-30.png" alt="" />
      </a>
      <!--Menu Hamburgesa movil -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#menu"
        aria-controls="menu"
        aria-expanded="false"
        aria-label="Mostrar / Ocultar Menu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a href="#" class="nav-link">Inicio</a></li>

          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              id="dropdown-menu"
            >
              Categorias
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdown-menu">
              <li>
                <a
                  href="https://www.playstation.com/es-ec/ps5/?smcid=other%3Aes-ec%3Ablank%3Aprimary%20nav%3Amsg-hardware%3Aps5"
                  class="dropdown-item"
                  >Consolas</a
                >
              </li>
              <li>
                <a href="#" class="dropdown-item">Videojuegos</a>
              </li>
              <li>
                <a href="#" class="dropdown-item">Accesorios</a>
              </li>
              <li class="dropdown-divider"></li>
              <li>
                <a
                  href="https://store.playstation.com/es-ec/pages/latest/?smcid=pdc%3Aes-ec%3Aps-vr2%3Aprimary%20nav%3Amsg-shop%3Anuevos-lanzamientos"
                  class="dropdown-item"
                  >Novedades</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a
              href="https://store.playstation.com/es-ec/pages/deals"
              class="nav-link"
              >Ofertas</a
            >
          </li>
          <li class="nav-item">
            <a href="formulario.html" class="nav-link">Contacto</a>
          </li>
          <li class="nav-item">
            <button
              href=""
              type="button"
              class="btn btn-dark btn-ouline bg-gradient"
              data-bs-toggle="modal"
              data-bs-target="#mi-modal-1"
            >
              PS Plus
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
