<div class="container mt-5">
    <div class="row mt-3">
      <div class="col">
        <div class="card text-light bg-dark">
          <div class="card-body">
            <h1>Juegos Play Station 5</h1>
            <p>
              Ultimos juegos disponibles para la nueva PS5
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-4">
        <div class="card">
          <img src="https://gmedia.playstation.com/is/image/SIEPDC/ps5-games-spiderman-miles-morales-image-block-en-26aug22?$1600px--t$" alt="" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Spiderman Miles Morales</h5>
            <h6 class="card-subtitle">PS4-PS5</h6>
            <p class="card-text">
              Experimenta el surgimiento de Miles Morales a medida que el nuevo héroe domina nuevos poderes explosivos e increíbles para convertirse en su propio Spider-Man
            </p>
            <a href="https://www.playstation.com/es-ec/ps5/games/" class="btn btn-outline-primary">Comprar</a>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Gran Turismo 7</h5>
            <h6 class="card-subtitle">PS4-PS5</h6>
            <p class="card-text">
              Si eres piloto competitivo o casual, coleccionista, aficionado a las modificaciones, diseñador de apariencias o fotógrafo, encuentra tu camino con una colección impresionante de modos de juego, incluidos los favoritos de los fanáticos, como Campaña de GT, Arcade y Escuela de manejo.
            </p>
            <a href="https://www.playstation.com/es-ec/ps5/games/" class="btn btn-outline-primary">Comprar</a>
          </div>
          <img src="https://gmedia.playstation.com/is/image/SIEPDC/ps5-games-gt7-hub-image-block-01-en-10mar22?$1200px--t$" alt="" class="card-img-bottom" />
        </div>
      </div>

      <div class="col-4">
        <div class="card">
          <img src="https://gmedia.playstation.com/is/image/SIEPDC/ps5-games-ratchet-and-clank-rift-apart-image-block-en-26aug22?$1200px--t$" alt="" class="card-img-top" />
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Ratchet & Clank™: Rift Apart</li>
          </ul>
          <div class="card-body">
            <p class="card-text">
              Adéntrate en una aventura interdimensional con Ratchet y Clank. Salta de una dimensión a otra para derrotar a un emperador malvado de otra realidad.
            </p>
            <a href="https://www.playstation.com/es-ec/ps5/games/" class="btn btn-outline-primary">Comprar</a>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <div class="card">
            
            <img src="https://gmedia.playstation.com/is/image/SIEPDC/ps5-games-uncharted-hub-image-block-02-en-21oct21?$1200px--t$" alt="" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">UNCHARTED™: Legacy of Thieves Collection key artwork</h5>
              <h6 class="card-subtitle">PS4-PS5</h6>
              <p class="card-text">
                Interpreta a Nathan Drake y a Chloe Frazer en sus propias aventuras, en las que se ven obligados a enfrentar sus pasados y forjar sus propios legados.
              </p>
              <a href="https://www.playstation.com/es-ec/ps5/games/" class="btn btn-outline-primary">Comprar</a>
            </div>
            
          </div>
        </div>
        <div class="col-6">
          <div class="card text-center">
            
            <img src="https://gmedia.playstation.com/is/image/SIEPDC/ps5-games-returnal-image-block-01-en-28jul21?$1200px--t$" alt="" class="card-img-top" />
            <div class="card-body">
              <blockquote class="blockquote mb-2">
                <h5>Returnal key artwork</h5>
                <p>
                  Rompe el ciclo del caos en un planeta alienígena que siempre está cambiando en este aclamado juego de disparos y calabozos en tercera persona de Housemarque.
                </p>
                <footer class="blockquote-footer">
                  Disponible en  PS plus
                </footer>
              </blockquote>
              <a href="https://www.playstation.com/es-ec/ps5/games/" class="btn btn-outline-primary">Comprar</a>
            </div>
            <div class="card-footer">Play Station </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
